@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome in reservation system</h1>
    <p>Welcome back @UserSingleton.Instance.loggedUser.UserName</p>
</div>
